<mat-radio-group [(ngModel)]="currentUnit" aria-label="Select an option">
  <mat-radio-button value="km">KM</mat-radio-button>
  <mat-radio-button value="miles">Miles</mat-radio-button>
</mat-radio-group>

<table mat-table [dataSource]="stravaService.stats" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <a matTooltip="View on Strava" [href]="userLink(element.user.id)">{{ element.user.athlete.firstname }} {{ element.user.athlete.lastname }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="run_total_kilometers">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="currentUnit === 'km'; else milesTemplate">
        {{ element.run_total_kilometers | number : "1.2-2" }} km
      </ng-container>
      <ng-template #milesTemplate>
        {{ element.run_total_kilometers / 1.60934 | number : "1.2-2" }} miles
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="ytd_run_total_kilometers">
    <th mat-header-cell *matHeaderCellDef>YTD Total</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="currentUnit === 'km'; else milesTemplate">
        {{ element.ytd_run_total_kilometers | number : "1.2-2" }} km
      </ng-container>
      <ng-template #milesTemplate>
        {{ element.ytd_run_total_kilometers / 1.60934 | number : "1.2-2" }}
        miles
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="goal">
    <th mat-header-cell *matHeaderCellDef>YTD Goal</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="currentUnit === 'km'; else milesTemplate">
        {{ element.user.goal || 0 | number : "1.2-2" }} km
      </ng-container>
      <ng-template #milesTemplate>
        {{ element.user.goal / 1.60934 || 0 | number : "1.2-2" }}
        miles
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="kudos">
    <th mat-header-cell *matHeaderCellDef>Kudos</th>
    <td mat-cell *matCellDef="let element">
      <div class="icon-container">
        <button
          mat-flat-button
          color="primary"
          (click)="incrementKudos(element)"
        >
          <mat-icon fontIcon="favorite"></mat-icon>
          <span class="icon-number">{{ element.user.kudos || 0 }}</span>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
