<mat-card>
  <mat-card-header>
    <mat-card-title
      >Cheer on athletes. To create a goal, connect to Strava.</mat-card-title
    >
    <br />
    <mat-card-subtitle>
      Inspired by Lachlan Morton's
      <a href="https://www.rapha.cc/us/en_US/shop/the-dot/product/ATV01XX">
        The Dot
      </a>
    </mat-card-subtitle>
  </mat-card-header>
  <br />
  <mat-card-content>
    <p class="content">
      I am thrilled to share that I am helping to change lives through the Power
      of Bicycles! I’m raising funds and awareness for World Bicycle Relief, a
      global nonprofit organization committed to helping individuals overcome
      the barrier of distance in low-income regions around the world.
    </p>
    <p class="content">
      In areas where transportation options are limited, a bicycle can be a
      life-changing tool that helps students increase attendance, improve
      performance, and show up ready to learn. Bikes also give communities
      access to healthcare and provide entrepreneurs and farmers the opportunity
      to improve their businesses.
    </p>
    <p class="content">
      Please consider supporting me as I work to empower people through the
      Power of Bicycles. For those in need, it is more than just a bike. It is a
      tool for economic and cultural empowerment.
    </p>
    <p class="content">
      Set a Strava goal to donate to World Bicycle Relief. For every mile you
      run, consider donating $1 to World Bicycle Relief.
      <a href="https://www.powerofbicycles.org/fundraisers/runtoreadtoday">
        Donate to World Bicycle Relief
      </a>
    </p>
    <p class="content">
      Any questions? Please reach out to me at <a href="mailto:ericflores108@outlook.com">ericflores108@outlook.com</a>.
    </p>
  </mat-card-content>
</mat-card>
